*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: #d6bea1;
    animation: fadein 1.5s ease-in-out;
}
@keyframes fadein{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

    }

.wrapper{
    padding: 10px 10%;
}
#card-area{
    padding: 50px 0;
    background-color: #333;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}
.box{
    height: 400px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 6px #D6BEA1;
}
.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    height: 400px;
}
.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#030303 70%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}
.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.overlay p{
    color: #D6BEA1;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;

}

.overlay a{
    margin-top: 30px;
    color: #333;
    text-decoration: none;
    font-size: 12px;
    background:#D6BEA1;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;

}

.overlay a:hover {
    color: white;
    background-color: #a07b5e;
}

.box:hover img{
    transform: scale(1.2);
}
.box:hover .overlay{
    height: 100%;
}


/* --------------------------- Header --------------------------- */

.header {
    background: #333;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.header .logo, 
.header .top-nav a, 
.header .nav .nav-item .nav-link, 
.header-icons i {
    color: #D6BEA1;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.header:hover {
    background: #333;
}

.header:hover .logo, 
.header:hover .top-nav a, 
.header:hover .nav .nav-item .nav-link, 
.header:hover .header-icons i {
    color: #D6BEA1; 
}

.nav .nav-item .nav-link:hover {
    color: #a07b5e !important; 
}

.header .logo:hover, .top-nav a:hover {
    color: #a07b5e !important; 
}

.header-icons i:hover {
    color: #a07b5e !important;
}

.logo {
    font-family: 'Cinzel', serif;
    font-size: 34px;
    font-weight: bold;
    color: #D6BEA1;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.top-nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.top-nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #D6BEA1;
    text-decoration: none;
    transition: color 0.3s ease;
}
.top-nav a:hover {
    color: #a07b5e;
}
.nav-wrapper {
    width: 100%;
    border-top: 1px solid #D6BEA1;
    padding-top: 20px;
}
.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.nav .nav-item .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0 15px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.header:hover .nav .nav-item .nav-link {
    color: #D6BEA1;
}


/* --------------------------- Style for the icons --------------------------- */
.header-icons {
    position: absolute;
    right: 80px; 
    top: 37px;
    display: flex;
    gap: 25px;
}

.header-icons i {
    font-size: 20px;
    color: #D6BEA1; 
    transition: color 0.3s ease;
    cursor: pointer;
}


.header-icons i:hover {
    color: #a07b5e;
}

@media (max-width: 768px) {
    .header {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-icons {
        position: static;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .top-nav {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .nav {
        flex-direction: column;
        text-align: center;
    }
}

/* ---------------------- Dropdown Menu ------------------ */
.dropdown-menu {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw !important;
    background-color: #333 !important;
    display: none; /* Hidden initially */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 999;
    padding: 20px;
    border-radius: 0 !important;
}

  .dropdown-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
	.category-content {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: absolute;
    width: 100%;
}

.category-content.active {
    opacity: 1;
    transform: translateY(0);
    position: relative;
}

  .category-column, .size-column {
    flex: 1;
    padding: 10px;
  }
  
  .category-title, .size-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #a07b5e; 
    font-size: 14px;
    text-transform: uppercase;
  }
  
/* Smooth Category Text Transition */
.category-column div,
.size-column div {
    font-size: 14px;
    color: #D6BEA1;  
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s ease-in-out; /* Smooth color change */
}

.category-column div:hover,
.size-column div:hover {
    color: #a07b5e; /* Light brown on hover */
}

.header:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(5px);
}

@media (max-width: 768px) {
    .dropdown-menu {
      top: 525px; 
    }
  }

/* --------------------------- Banner --------------------------- */
.banner {
    width: 100%;
    height: 400px; 
    margin-top: 195px;
    background: url('../Images/1subcat.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-text {
    color: #D6BEA1;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: rgba(0, 0, 0, 0.8); 
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 90%;
}

/* Responsiveness */
@media (max-width: 1024px) {
    .banner {
        height: 300px; /* Adjust for tablets */
        margin-top: 235px;
    }

    .banner-text {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 250px; /* Adjust for smaller devices */
        margin-top: 525px;
    }

    .banner-text {
        font-size: 2rem;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 200px; /* Adjust for mobile */
        margin-top: 525px;
    }

    .banner-text {
        font-size: 1.5rem;
        padding: 5px 10px;
    }
}

/* ---------------------- footer section ----------------- */
.site-footer {
    background-color: #2a2a2a;
    color: white;
    padding: 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: left;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 215px;
    margin-bottom: 5px;
}

.footer-title {
    color: #a07b5e; 
    padding: 5px 0;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    display: block;
    background: none;
}

.footer-section p {
    font-family: 'Montserrat', sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease-in-out;
}

.footer-section ul li a:hover {
    color: #D6BEA1;
}

.footer-bottom {
    text-align: center;
    background: black;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom a {
    color: #a07b5e;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease-in-out;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newsletter input {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 50px;
}

.newsletter button {
    background-color: #D6BEA1;
    color: #333;
	font-weight: 800;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background 0.3s ease;
}

.newsletter button:hover {
    background-color: #a07b5e;
		color: white;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.social-icons i {
    color: white;
    transition: color 0.3s ease-in-out;
}

.social-icons i:hover {
    color: #a07b5e;
}